@media ( min-width: 500px ) {   
    .crypto-body{
        margin: auto;
        width: 60%;
    }
    
    .navbar-links a{
        text-align: right;
    }
    
    .dashboard-content{
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        border: 2px solid black;
    }

    .prices-table{
        width: 100%;
    }

    .prices-table-element{
        border: 2px solid gray;
        padding: 5%;
        margin: 10px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        margin-top: 10px;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 499px) {
    .collapsable{
        display: none;
    }

    .flex-row{
        display: flex;
        flex-direction: column;
    }
}

.crypto-nav{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
}

.dashboard-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.dashboard-balance {
    text-align: center;
}

.dashboard-change {
    color: green;
}

.dashboard-currencies img{
    height: 50px;
    width: 50px;
}

.dashboard-currency {
    border: 2px solid gray;
    padding: 5%;
    margin: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between ;
}

.burger-menu{
    float: right;
}

.prices-table{
    width: 100%;
}

.prices-table-element-name-div{
    display: flex;
    flex-direction: column;
}

.prices-table-element-name{
    display: flex;
    flex-direction: row;
}

.prices-table-element{
    border: 2px solid gray;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.spacer{
    height: 20px;
}